{% extends 'layout.html' %}

{% block content %}
    <div class="container-sm w-25 p-3">
        {% if parameter == "uname" %}
            <h3 class="text-center mb-4 mt-4">User Search</h3>
            {% if users == [] %}
                <p class="text-center">No results found!</p>
            {% else %}
                <table class="table table-hover table-bordered border border-3">
                    <thead class="text-center border border-3">
                        <th>User ID</th>
                        <th>Username</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr class="text-center">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    <form action="{{ url_for('access', id=user.id) }}" method="post">
                                        {% if user.is_active == 1 and user.is_admin == 0 %}
                                            <button type="submit" class="btn btn-sm btn-danger">Block</button>
                                        {% elif user.is_active == 0  and user.is_admin == 0 %}
                                            <button type="submit" class="btn btn-sm btn-success">Unblock</button>
                                        {% endif %}
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% elif parameter == "sname" %}
            <h3 class="text-center mb-4 mt-4">Subject Search</h3>
            {% if subjects == [] %}
                <p class="text-center">No results found!</p>
            {% else %}
                <table class="table table-hover table-bordered border border-3">
                    <thead class="text-center border border-3">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>No. of Chapters</th>
                    </thead>
                    <tbody>
                        {% for subject in subjects %}
                            <tr class="text-center">
                                <td>{{ subject.id }}</td>
                                <td>{{ subject.name }}</td>
                                <td>{{ subject.description }}</td>
                                <td>{{ subject.chapters|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% elif parameter == "qname" %}
            <h3 class="text-center mb-4 mt-4">Quiz Search</h3>
            {% if quizzes == [] %}
                <p class="text-center">No results found!</p>
            {% else %}
                <table class="table table-hover table-bordered border border-3">
                    <thead class="text-center border border-3">
                        <th>Quiz ID</th>
                        <th>Chapter Name</th>
                        <th>No. of Questions</th>
                        <th>Date of Quiz</th>
                        <th>Duration (in minutes)</th>
                    </thead>
                    <tbody>
                        {% for quiz in quizzes %}
                            <tr class="text-center">
                                <td>{{ quiz.id }}</td>
                                <td>{{ quiz.chapter.name }}</td>
                                <td>{{ quiz.questions|length }}</td>
                                <td>{{ quiz.date_of_quiz }}</td>
                                <td>{{ quiz.duration }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        {% elif not query and parameter == None %}
            <h1 class="text-center mb-4 mt-4">Search Page</h1>
        {% endif %}
        <div class="text-center mt-4">
            <a class="btn btn-outline-primary" href="{{ url_for('index') }}">Home</a>
        </div>
    </div>
{% endblock %}