{% extends 'layout.html' %}

{% block content %}
    <div class="container-sm w-25 p-3">
        <h3 class="text-center mb-5 mt-5">Delete Quiz</h3>
        <p  class="text-center mb-3 mt-5">Are you sure you want to delete <strong>{{ quiz.chapter.name }}</strong> quiz?</p>
        <form action="" method="post">
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Delete Quiz</button>
                <button type="button" class="btn btn-outline-danger" onclick="history.back()">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}