{% extends 'layout.html' %}

{% block content %}
    <div class="container-sm w-25 p-3">
        <h3 class="text-center mb-5 mt-5">Update Quiz</h3>
        <div class="input-group mb-3">
            <span class="input-group-text">Subject Name</span>
            <input type="text" class="form-control" value="{{ quiz.chapter.subject.name }}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Chapter Name</span>
            <input type="text" class="form-control" value="{{ quiz.chapter.name }}" disabled readonly>
        </div>
        <form action="" method="post">
            <div class="input-group mb-3">
                <span class="input-group-text">Date</span>
                <input type="date" name="date" class="form-control" value="{{ quiz.date_of_quiz }}">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">Duration (in Minutes)</span>
                <input type="number" name="duration" step="30" min="30" max="180" class="form-control" value="{{ quiz.duration }}">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-outline-primary">Update Quiz</button>
                <button type="button" class="btn btn-outline-danger" onclick="history.back()">Cancel</button>
            </div>
        </form>
    </div>
{% endblock %}