{% extends 'layout.html' %}

{% block content %}
    <div class="container-sm w-25 p-3">
        <h3 class="text-center mb-5 mt-5">About Quiz</h3>
        <div class="input-group mb-3">
            <span class="input-group-text">Subject Name</span>
            <input type="text" class="form-control" value="{{ quiz.chapter.subject.name }}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Chapter Name</span>
            <input type="text" class="form-control" value="{{ quiz.chapter.name }}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Quiz Due Date</span>
            <input type="text" class="form-control" value="{{ quiz.date_of_quiz }}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">Duration (in Minutes)</span>
            <input type="text" class="form-control" value="{{ quiz.duration }}" disabled readonly>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text">No. of Questions</span>
            <input type="text" class="form-control" value="{{ quiz.questions|length }}" disabled readonly>
        </div>
        <div class="text-center mb-3">
            <a class="btn btn-outline-primary" href="{{ url_for('update_quiz', id=quiz.id) }}">Edit</a>
            <a class="btn btn-outline-primary" href="{{ url_for('delete_quiz', id=quiz.id) }}">Delete</a>
            <button type="button" class="btn btn-outline-primary" onclick="history.back()">Cancel</button>
        </div>
    </div>
{% endblock %}